volumes:
  cosypolyamory:

services:

  web:
    build: .
    image: new.cosypolyamory.org
    restart: unless-stopped
    expose:
      - "3031"
    volumes:
      - cosypolyamory:/data
    environment:
      - VIRTUAL_HOST=new.cosypolyamory.org
      - LETSENCRYPT_HOST=new.cosypolyamory.org
      - LETSENCRYPT_EMAIL=mayhem@gmail.com
      - DATABASE_PATH=/data/cosypolyamory.db


networks:
  default:
    name: nginx-proxy
    external: true
