volumes:
  cosypolyamory:

services:

  web:
    build: .
    image: new-cosypolyamory-web
    expose:
      - "3031"
    volumes:
      - cosypolyamory:/data
    environment:
      - VIRTUAL_HOST=new.cosypolyamory.org
      - LETSENCRYPT_HOST=new.cosypolyamory.org
      - LETSENCRYPT_EMAIL=mayhem@gmail.com
      - DATABASE_PATH=/data/cosypolyamory.db

  reminders:
    build: .
    image: new-cosypolyamory-reminders
    volumes:
      - cosypolyamory:/data


networks:
  default:
    name: nginx-proxy
    external: true
