volumes:
  cosypolyamory:

services:

  web:
    build: .
    image: new.cosypolyamory.org
    expose:
      - "3031"
    volumes:
      - cosypolyamory:/data:z
    environment:
      - VIRTUAL_HOST=new.cosypolyamory.org
      - LETSENCRYPT_HOST=new.cosypolyamory.org
      - LETSENCRYPT_EMAIL=mayhem@gmail.com

networks:
  default:
    name: nginx-proxy
    external: true
